.marked {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding: 0 10px;
}

.marked > *:first-child {
  margin-top: 0 !important;
}

.marked > *:last-child {
  margin-bottom: 0 !important;
}

.marked a {
  color: #4183c4;
  text-decoration: none;
}

.marked a.absent {
  color: #cc0000;
}

.marked a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.marked h1,
.marked h2,
.marked h3,
.marked h4,
.marked h5,
.marked h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

.marked h2:first-child,
.marked h1:first-child,
.marked h1:first-child + h2,
.marked h3:first-child,
.marked h4:first-child,
.marked h5:first-child,
.marked h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.marked h1:hover a.anchor,
.marked h2:hover a.anchor,
.marked h3:hover a.anchor,
.marked h4:hover a.anchor,
.marked h5:hover a.anchor,
.marked h6:hover a.anchor {
  text-decoration: none;
}

.marked h1 tt,
.marked h1 code {
  font-size: inherit;
}

.marked h2 tt,
.marked h2 code {
  font-size: inherit;
}

.marked h3 tt,
.marked h3 code {
  font-size: inherit;
}

.marked h4 tt,
.marked h4 code {
  font-size: inherit;
}

.marked h5 tt,
.marked h5 code {
  font-size: inherit;
}

.marked h6 tt,
.marked h6 code {
  font-size: inherit;
}

.marked h1 {
  font-size: 28px;
  /* color: black; */
}

.marked h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  /* color: black; */
}

.marked h3 {
  font-size: 18px;
}

.marked h4 {
  font-size: 16px;
}

.marked h5 {
  font-size: 14px;
}

.marked h6 {
  /* color: #777777; */
  font-size: 14px;
}

.marked p,
.marked blockquote,
.marked ul,
.marked ol,
.marked dl,
.marked li,
.marked table,
.marked pre {
  margin: 15px 0;
}

.marked hr {
  border: 0 none;
  /* color: #cccccc; */
  height: 4px;
  padding: 0;
}

.marked body > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

.marked body > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

.marked body > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}

.marked body > h3:first-child,
.marked body > h4:first-child,
.marked body > h5:first-child,
.marked body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.marked a:first-child h1,
.marked a:first-child h2,
.marked a:first-child h3,
.marked a:first-child h4,
.marked a:first-child h5,
.marked a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

.marked h1 p,
.marked h2 p,
.marked h3 p,
.marked h4 p,
.marked h5 p,
.marked h6 p {
  margin-top: 0;
}

.marked li p.first {
  display: inline-block;
}

.marked ul,
.marked ol {
  padding-left: 30px;
}

.marked ul :first-child,
.marked ol :first-child {
  margin-top: 0;
}

.marked ul :last-child,
.marked ol :last-child {
  margin-bottom: 0;
}

.marked dl {
  padding: 0;
}

.marked dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.marked dl dt:first-child {
  padding: 0;
}

.marked dl dt > :first-child {
  margin-top: 0;
}

.marked dl dt > :last-child {
  margin-bottom: 0;
}

.marked dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.marked dl dd > :first-child {
  margin-top: 0;
}

.marked dl dd > :last-child {
  margin-bottom: 0;
}

.marked blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}

.marked blockquote > :first-child {
  margin-top: 0;
}

.marked blockquote > :last-child {
  margin-bottom: 0;
}

.marked table {
  padding: 0;
}
.marked table tr {
  border-top: 1px solid #cccccc;
  /* background-color: white; */
  margin: 0;
  padding: 0;
}

.marked table tr:nth-child(2n) {
  /* background-color: #f8f8f8; */
}

.marked table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.marked table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.marked table tr th :first-child,
.marked table tr td :first-child {
  margin-top: 0;
}

.marked table tr th :last-child,
.marked table tr td :last-child {
  margin-bottom: 0;
}

.marked img {
  max-width: 100%;
}

.marked span.frame {
  display: block;
  overflow: hidden;
}

.marked span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

.marked span.frame span img {
  display: block;
  float: left;
}

.marked span.frame span span {
  clear: both;
  /* color: #333333; */
  display: block;
  padding: 5px 0 0;
}

.marked span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.marked span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

.marked span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.marked span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.marked span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

.marked span.align-right span img {
  margin: 0;
  text-align: right;
}

.marked span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

.marked span.float-left span {
  margin: 13px 0 0;
}

.marked span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

.marked span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

.marked code,
.marked tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  /* background-color: #f8f8f8; */
  border-radius: 3px;
}

.marked pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.highlight pre {
  /* background-color: #f8f8f8; */
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.marked pre {
  /* background-color: #f8f8f8; */
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.marked pre code,
.marked pre tt {
  background-color: transparent;
  border: none;
}
