name: Full Frontend Build, Format, and Test

on:
  pull_request:
    paths:
      - "frontend/**"
    branches:
      - main

defaults:
  run:
    working-directory: frontend

env:
  node-version: 14.x

jobs:
  build:
    name: Full build validation
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@v2.1.4
        with:
          node-version: ${{ env.node-version }}

      - name: Validate Frontend
        run: |
          npm ci
          npm run validate
